.container-about .about .about-title h1, .container-contact .contact .contact-title h1, .container-location .location .location-title h1 {
  font-size: 40px;
  font-weight: 500;
}

.container-about, .container-community, .container-contact, .container-location {
  margin: 0 15%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: white;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.container-about .about {
  height: 100vh;
  padding: 200px 0;
}

.container-about .about .about-title {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container-about .about .about-title img {
  margin-right: 10px;
  width: 50px;
}

.container-community .community {
  margin: 170px 0;
  display: inline-block;
  width: 100%;
}

.container-community .community .community-icon img {
  float: right;
  opacity: 50%;
  width: 215px;
}

.container-community .community .community-text {
  width: 500px;
  float: left;
}

.container-community .community .community-text .community-button {
  border-color: white;
  border-radius: 10px;
  border-width: 2px;
  font-size: 1rem;
  font-weight: 500;
  margin: 20px 0;
  padding: 8px 0;
  width: 275px;
}

.container-community .community .community-text .community-text-title {
  padding-bottom: 20px;
}

.container-contact {
  height: 100vh;
  margin: 0 15%;
}

.container-contact .contact {
  height: 100vh;
  padding: 80px 0;
}

.container-contact .contact .contact-title {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container-contact .contact .contact-title img {
  margin-right: 14px;
  width: 60px;
}

.container-location .location {
  height: 100vh;
  padding: 80px 0;
}

.container-location .location .location-title {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container-location .location .location-title img {
  margin-right: 7px;
  width: 60px;
}

nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 60px 0;
  width: 100%;
}

nav .nav-links {
  margin-left: auto;
}

nav .nav-title {
  font-weight: 600;
}

nav a {
  padding: 0 15px;
  text-decoration: none;
}

nav a:hover {
  opacity: 60%;
}

nav img {
  width: 27px;
  margin-right: 6px;
}

.signin-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #17181a;
  background-image: url(/images/people.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
}

.signin-container .signin-brandtitle {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 20%;
  padding-top: 10px;
}

.signin-container .signin-brandtitle h1 {
  font-weight: 600;
  margin-right: 20px;
}

.signin-container .signin-brandtitle img {
  margin-right: 6px;
  width: 50px;
}

.signin-container .signin-block-container {
  height: 70%;
}

.signin-container .signin-block-container .signin-block {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 450px;
  height: 400px;
}

.signin-container .signin-block-container .signin-block .signin-block-content {
  line-height: 45px;
  margin: 0 70px;
  width: 100%;
}

.signin-container .signin-block-container .signin-block .signin-block-content h2 {
  font-weight: 500;
}

.signin-container .signin-block-container .signin-block .signin-block-content p {
  font-size: 13px;
}

.signin-container .signin-block-container .signin-block .signin-block-content form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.signin-container .signin-block-container .signin-block .signin-block-content form input {
  background-color: transparent;
  border-color: rgba(255, 255, 255, 0.745);
  border-radius: 5px;
  border-style: solid;
  border-width: 0.03px;
  margin: 5px 0;
  padding: 12px;
}

.signin-container .signin-block-container .signin-block .signin-block-content form input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.692);
}

.signin-container .signin-block-container .signin-block .signin-block-content form input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.692);
}

.signin-container .signin-block-container .signin-block .signin-block-content form input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.692);
}

.signin-container .signin-block-container .signin-block .signin-block-content form input::placeholder {
  color: rgba(255, 255, 255, 0.692);
}

.signin-container .signin-block-container .signin-block .signin-block-content form .signin-remember {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.signin-container .signin-block-container .signin-block .signin-block-content form .signin-remember .remember-me {
  padding-left: 5px;
}

.signin-container .signin-block-container .signin-block .signin-block-content .signin-button {
  background-color: #002ad3;
  border-radius: 5px;
  border-style: solid;
  border-width: 0;
  padding: 11px;
  width: 100%;
}

.signin-container .signin-block-container .signin-block-extra-content {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 25px;
}

.signin-container .signin-block-container .signin-block-extra-content .no-account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px;
}

.signin-container .signin-block-container .signin-block-extra-content .no-account a {
  color: #0091ff;
  font-weight: 500;
  text-decoration: none;
}

.signin-container .signin-block-container .signin-block-extra-content .no-account a:hover {
  text-decoration: underline;
}

.signin-container .signin-block-container .signin-block-extra-content .no-account p {
  padding-right: 5px;
}

.signin-container .signin-block-container .signin-block-extra-content .no-password {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
  margin-top: 10px;
}

.signin-container .signin-block-container .signin-block-extra-content .no-password a {
  color: #0091ff;
  font-weight: 500;
  text-decoration: none;
}

.signin-container .signin-block-container .signin-block-extra-content .no-password a:hover {
  text-decoration: underline;
}

.sponsors-container {
  opacity: 50%;
  margin: 100px 0;
}

.sponsors-container .sponsor-title {
  text-align: center;
  padding: 20px 0;
  font-size: 25px;
}

.sponsors-container .sponsors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sponsors-container .sponsors .sponsor-item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 15%;
}

.sponsors-container .sponsors .sponsor-item h3 {
  font-size: 25px;
}

.sponsors-container .sponsors .sponsor-item img {
  padding: 5px;
  width: 100px;
}
/*# sourceMappingURL=style.css.map */