%container-attributes {
    // height: 1000px;
    height: auto;
    margin: 0 12%;
}

%link-decoration {
    color: rgb(113, 136, 225);
    text-decoration: none;
}

%p-text {
    line-height: 30px;
}

%section-title {
    font-size: 37px;
    font-weight: 500;
}

%signin-block {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 20px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    padding: 35px 0;
}

%signin-block-content {
    line-height: 45px;
    padding: 15px 70px 20px 70px;
    width: 460px;
    
    h2 {
        font-weight: 500;
    }
    
    p {
        font-size: 13px;
        line-height: 18px;
        margin: 12px 0;
    }
    
    form {
        display: flex;
        flex-direction: column;
    
        input {
            background-color: transparent;
            border-color: rgba(255, 255, 255, 0.745);
            border-radius: 5px;
            border-style: solid;
            border-width: 0.03px;
            margin: 5px 0 10px 0;
            padding: 12px;
        }
    
        input::placeholder {
            color: rgba(255, 255, 255, 0.692);
        }
    }
}

%signin-button {
    background-color: rgb(48, 77, 194);
    border-radius: 5px;
    border-style: solid;
    border-width: 0;
    cursor: pointer;
    padding: 11px;
    width: 100%;
}

%signin-logo {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 10%;
    padding: 40px 0 40px 0;
    
    h1 {
        font-weight: 600;
        margin-right: 20px;
    }
    
    img {
        margin-right: 6px;
        width: 30px;
    }
}

%signin-page-container {
    align-items: center;
    background-color: rgb(23, 24, 26);
    background-image: url(/images/people.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    // width: 100vw;
    height: 100vh;
}

* {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    font-family: 'Montserrat',
    sans-serif;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

// *** Main Page (Langing Page)
.landing-page {
    background-color: rgb(23, 23, 23);
    height: auto;

    // Home Section-1
    .container-1-community {
        @extend %container-attributes;
    
        nav {
            align-items: center;
            display: flex;
            padding: 60px 0;
            width: 100%;
    
            .nav-links {
                margin-left: auto;
            }
    
            .nav-title {
                font-weight: 700;
            }
    
            a {
                padding: 0 15px;
                text-decoration: none;
            }
    
            a:hover {
                // color:rgb(0, 145, 255);
                opacity: 60%;
            }
    
            img {
                width: 27px;
                margin-right: 6px;
            }
        }
    
        .community {
            margin: 150px 0 80px 0;
            display: flex;
            flex-wrap: wrap-reverse;
            justify-content: space-between;
            width: 100%;
    
            .community-icon {
    
                img {
                    padding-bottom: 30px;
                    opacity: 50%;
                }
            }
    
            .community-text {
                width: 500px;
    
                .community-button {
                    background-color: transparent;
                    border-color: white;
                    border-radius: 10px;
                    border-width: 2px;
                    font-size: 1rem;
                    font-weight: 500;
                    margin: 20px 0;
                    padding: 8px 0;
                    width: 275px;
                }
    
                .community-text-title {
                    padding-bottom: 20px;
                }
            }
        }

        // Sponsors - Under Section-1
        .sponsors-container {
            // height: 300px;
            opacity: 90%;
            padding: 100px 0;
            margin: 0 12%;
        
            .sponsor-title {
                text-align: center;
                padding: 20px 0;
                font-size: 25px;
            }
        
            .sponsors {
                display: flex;
                align-items: center;
                justify-content: center;
                // margin: 0 12%;
        
                .sponsor-item {
                    align-items: center;
                    display: flex;
                    flex-direction: column;
                    padding: 0 15%;
        
                    h3 {
                        font-size: 25px;
                    }
        
                    img {
                        padding: 5px;
                        width: 100px;
                    }
                }
            }
        }
    }

    // About Section-2
    .container-2-about {
        @extend %container-attributes;

        .about {
            padding: 100px 0;

            h2 {
                font-size: 32px;
                font-weight: 300;
                padding-bottom: 20px;
            }

            p {
                @extend %p-text;
            }

            .about-title {
                align-items: center;
                display: flex;
                padding-bottom: 30px;
            
                h1 {
                    @extend %section-title;
                }
            
                img {
                    margin-right: 10px;
                    width: 50px;
                }
            }

            .about-how {
                margin: 100px 0;

                a {
                    @extend %link-decoration;
                }
            }

            .about-goals {

                li {
                    padding: 15px 0;
                }
            }
        }
    }

    // Location Section-3
    .container-3-location {
        @extend %container-attributes;

        .location {
            padding: 100px 0;
        
            .location-title {
                align-items: center;
                display: flex;

                h1 {
                    @extend %section-title;
                }

                img{
                    margin-right: 7px;
                    width: 60px;
                }
            }
        }
    }

    // Contact Section-4
    .container-4-contact {
        @extend %container-attributes;

        .contact {
            padding: 100px 0 20px 0;

            .contact-text-container {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                margin: 80px 0;
                width: 100%;
                height: auto;

                .contact-form {
                    min-width: 400px;

                    .contact-form-elements {
                        display: flex;
                        flex-direction: column;

                        .contact-form-message {

                            textarea {
                                border-radius: 5px;
                                color: black;
                                margin-top: 5px;
                                padding: 8px;
                                width: 400px;
                            }
                        }

                        .contact-form-input {
                            margin: 0 0 10px 0;

                            input {
                                border-radius: 5px;
                                border-style: solid;
                                color: black;
                                padding: 8px;
                                margin: 5px 0;
                                width: 400px;
                            }
                        }

                        .contact-button {
                            background-color: transparent;
                            border-color: aliceblue;
                            border-radius: 5px;
                            border-width: 1px;
                            margin: 20px 0;
                            height: 35px;
                            width: 120px;
                        }
                    }
                }

                .contact-sidetext {
                    min-width: 300px;
                    padding-bottom: 30px;
                    padding-right: 20px;

                    .contact-methods {
                        margin-top: 40px;

                        div {
                            align-items: center;
                            display: flex;
                            padding: 15px 0;
                        }

                        h3 {
                            margin-bottom: 20px;
                        }

                        img {
                            padding-right: 5px;
                            width: 27px;
                        }
                    }
                }
            }

            .contact-title {
                align-items: center;
                display: flex;
    
                h1 {
                    @extend %section-title;
                }
    
                img {
                    margin-right: 14px;
                    width: 50px;
                }
            }
        }
    }

    // Footer Section 5
    .container-x-footer {
        @extend %container-attributes;
        @extend %p-text;

        .footer {
            padding: 80px 0;
            // display: flex;
            // justify-content: center;

            .footer-socialmedia {
                display: flex;
                justify-content: center;
                // align-items: center;

                img {
                    margin: 20px ;
                    width: 40px
                }
                
            }

            .footer-text {
                text-align: center
            }
        }
    }
}


// *** Password Reset Page
.password-container {
    @extend %signin-page-container;

    .password-brandtitle {
        @extend %signin-logo;
    }

    .password-block-container {
        height: 70%;
    
        .password-block {
            @extend %signin-block;
    
            .password-block-content {
                @extend %signin-block-content;
                
                .password-button {
                    @extend %signin-button;
                }
            }
            
            .password-image img {
                padding-top: 10px;
                width: 100px
            }
        }
    }
}

// *** Signin Page
.signin-container {
    @extend %signin-page-container;

    .signin-brandtitle {
        @extend %signin-logo;
    }

    .signin-block-container {
        height: 70%;
        
        .signin-block {
            align-items: center;
            background-color: rgba(0, 0, 0, 0.8);
            border-radius: 20px;
            display: flex;
            justify-content: center;
            width: 450px;
            height: 400px;

            .signin-block-content {
                line-height: 45px;
                margin: 0 70px;
                width: 100%;

                h2 {
                    font-weight: 500;
                }

                p {
                    font-size: 13px;
                    line-height: 18px;
                    margin: 12px 0;
                }

                form {
                    display: flex;
                    flex-direction: column;

                    input{
                        background-color: transparent;
                        border-color: rgba(255, 255, 255, 0.745);
                        border-radius: 5px;
                        border-style: solid;
                        border-width: 0.03px;
                        margin: 5px 0;
                        padding: 12px;
                    }

                    input::placeholder {
                        color: rgba(255, 255, 255, 0.692);
                    }


                    .signin-remember {
                        align-items: center;
                        display: flex;

                        .remember-me {
                            padding-left: 5px;
                        }
                    }
                }

                .signin-button {
                    @extend %signin-button;
                }
            }
        }

        .signin-block-extra-content {
            align-items: center;
            display: flex;
            flex-direction: column;
            margin-top: 20px;
        
            .no-account {
                display: flex;
                margin: 10px;

                a{
                    color: rgb(0, 145, 255);
                    font-weight: 500;
                    text-decoration: none;
                }

                a:hover {
                    text-decoration: underline;
                }

                p {
                    padding-right: 5px;
                }
            }

            .no-password {
                display: flex;
                margin-bottom: 50px;
                margin-top: 5px;

                a {
                    color: rgb(0, 145, 255);
                    font-weight: 500;
                    text-decoration: none;
                }

                a:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

.signup-container {
    @extend %signin-page-container;

    .signup-brandtitle {
        @extend %signin-logo;
    }

    .signup-block-container {
        height: 70%;

        .signup-block {
            @extend %signin-block;
        
            .signup-block-content {
                @extend %signin-block-content;
        
                .signup-button {
                    @extend %signin-button;
                }
            }
        
            .signup-image img {
                padding-top: 10px;
                width: 100px
            }
        }

        .signup-block-extra-content {
            align-items: center;
            display: flex;
            flex-direction: column;
            margin-top: 20px;
        
            .signup-have-account {
                display: flex;
                margin: 10px;
        
                a {
                    color: rgb(0, 145, 255);
                    font-weight: 500;
                    text-decoration: none;
                }
        
                a:hover {
                    text-decoration: underline;
                }
        
                p {
                    padding-right: 5px;
                }
            }
        
            .no-password {
                display: flex;
                margin-bottom: 50px;
                margin-top: 5px;
        
                a {
                    color: rgb(0, 145, 255);
                    font-weight: 500;
                    text-decoration: none;
                }
        
                a:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}
