%section-title {
    font-size: 25px;
    font-weight: 600;
}


* {
    background-color: rgb(18, 19, 22);
    box-sizing: border-box;
    color: aliceblue;
    font-family: 'Montserrat',
    sans-serif;
    margin: 0;
    padding: 0;
}

.about {
    height: 100vh;

    .about-title h1 {
        @extend %section-title;
    }
}

.community {
    display: flex;
    height: 100vh;
    padding: 120px 0;

    .community-text-title {
        padding-bottom: 20px;
    }
}

.contact {
    height: 100vh;

    .contact-title h1 {
        @extend %section-title;
    }
}

.container {
    margin: 0 10%;
}

.location {
    height: 100vh;

    .location-title h1{
        @extend %section-title;
    }
}


nav {
    align-items: center;
    display: flex;
    padding: 50px 0;
    width: 100%;

    .nav-links {
        margin-left: auto;
    }

    a {
        padding: 0 15px;
        text-decoration: none;
    }

    a:hover {
        opacity: 60%;
    }
}